.about-us {
  position: relative;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding-left: 0;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-bottom: 83px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 176px;
    padding-right: 172px;
    margin-bottom: 91px;
  }
}

.about-us__list-item {
  position: relative;
  padding-top: 84px;

  @media (min-width: $tablet-width) {
    padding-top: 108px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 351px;
    padding-top: 109px;
  }
}

.about-us__title {
  position: relative;
  margin: 0;
  margin-top: 70px;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 118px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 171px;
    font-size: 53px;
    margin-top: 158px;
  }
}

.about-us__money {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.about-us__like {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.about-us__handmade {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.about-us__gift {
  @media (min-width: $tablet-width) {
    order: 5;
  }
}

.about-us__support {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.about-us::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    top: -14%;
    height: 24px;
    background-size: 768px 25px;
    left: -19px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    top: -17%;
    height: 24px;
    background-size: 1052px 25px;
    left: 6.8%;
    right: 0;
    width: 1027px;
  }
}
