.about-us {
  position: relative;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding-left: 0;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-bottom: 83px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 176px;
    padding-right: 172px;
    margin-bottom: 91px;
  }
}

.about-us__list-item {
  position: relative;
  padding-top: 84px;

  @media (min-width: $tablet-width) {
    padding-top: 108px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 351px;
    padding-top: 109px;
  }
}

.about-us__title {
  position: relative;
  margin: 0;
  margin-top: 70px;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 118px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 171px;
    font-size: 53px;
    margin-top: 158px;
  }
}

.about-us__money {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.about-us__like {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.about-us__handmade {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.about-us__gift {
  @media (min-width: $tablet-width) {
    order: 5;
  }
}

.about-us__support {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.about-us::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    top: 0;
    transform: translateY(-73px);
    height: 24px;
    background-size: 768px 25px;
    left: -19px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    top: 0;
    transform: translateY(-88px);
    height: 24px;
    background-size: 1052px 25px;
    left: 6.8%;
    right: 0;
    width: 1027px;
  }
}


.about-us__icon {
  position: absolute;
  fill: #63d1bb;
}

.about-us__icon--eko {
  top: 29px;
  left: 8px;

  @media (min-width: $tablet-width) {
    top: 48px;
    left: 9px;
  }
}

.about-us__icon--money {
  top: 29px;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 52px;
    left: 1px;
  }
}

.about-us__icon--like {
  top: 33px;
  left: 7px;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: 8px;
  }
}

.about-us__icon--handmade {
  top: 29px;
  left: 4px;

  @media (min-width: $tablet-width) {
    top: 51px;
    left: 3px;
  }
}

.about-us__icon--support {
  top: 29px;
  left: -6px;

  @media (min-width: $tablet-width) {
    top: 55px;
    left: -6px;
  }
}

.about-us__icon--gift {
  top: 26px;
  left: 3px;

  @media (min-width: $tablet-width) {
    top: 56px;
    left: 3px;
  }
}
