.catalog {
  background-color: white;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.catalog__item {
  width: 260px;
  display: flex;
  margin-bottom: 23px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: center;
    margin-bottom: 53px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    justify-content: center;
    margin-bottom: 62px;
    flex-direction: column;
    margin-right: 52px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
