.catalog-item {
  margin: 1px auto 24px;

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 109px;
  }
}

.catalog-item__title {
  line-height: 24px;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.catalog-item__description {
  color: #444444;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    font-size: 15px;
    padding-left: 2px;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}

.catalog-item__price {
  font-weight: bold;
}

.catalog-item__description-wrapper {
  width: 260px;
  padding: 26px 27px 11px;
  border: 1px solid #ececec;

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 20px 25px 10px;
  }
}

.catalog-item__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ececec;
}

.catalog-item__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.catalog-item__title--toys {
  width: 235px;
}

.catalog-item__description--toys {
  @media (min-width: $desktop-width) {
    padding-bottom: 16px;
  }
}
