.checkbox-list {
  background-color: white;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.checkbox-list__item {
  padding-bottom: 30px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 28%;
  }
}
