.checkbox-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.checkbox-list__item {
  padding-bottom: 31px;
  padding-left: 21px;

  &:last-child {
    padding-bottom: 5px;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 50%;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 29%;
    padding-left: 32px;
  }
}

.checkbox-list__label {
  position: relative;
  font-size: 17px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    padding-left: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    left: -63px;
    top: -7px;
    transition: border-color 0.5s ease-out;

    @media (min-width: $tablet-width) {
      width: 50px;
      height: 50px;
      left: 0px;
      top: -10px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: -52px;
    top: 8px;
    transform: rotate(-45deg);
    width: 20px;
    height: 9px;
    border-left: 2px solid #444444;
    border-bottom: 2px solid #444444;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 16px;
      left: 13px;
      top: 3px;
    }
  }
}

.checkbox-list__input:checked+.checkbox-list__label::after {
  display: block;
}

.checkbox-list__label:active::before {
  border-color: rgba($color: #444444, $alpha: 0.3);
  transition: color 0.5s ease;
}

.checkbox-list__label:hover::before {
  border-color: #62d1ba;
  transition: border-color 0.5s ease;
}
