.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    padding-bottom: 110px;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-left: 175px;
  }
}

.contacts__info {
  padding-top: 25px;
  display: flex;
  font-style: normal;
  color: #444444;
  margin: 0;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.contacts__link {
  text-decoration: none;
  color: #444444;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    padding-left: 22px;
  }
}

.contacts__title {
  margin-top: 87px;
  margin-bottom: 0;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 177px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    padding-left: 171px;
    margin-top: 314px;
  }
}

.contacts__info--address {
  padding-top: 30px;
}

.contacts__address {
  padding-left: 33px;
  width: 70%;

  @media (min-width: $tablet-width) {
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}
