.contacts__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__info {
  padding-top: 30px;
  display: flex;
  font-style: normal;
  color: #444444;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 45%;
  }
}

.contacts__link {
  text-decoration: none;
  color: #444444;
  padding-left: 30px;
}

.contacts__title {
  margin-top: 100px;
}

.contacts__address {
  padding-left: 33px;
  width: 70%;

  @media (min-width: $tablet-width) {
    width: 75%;
  }
}

.contacts__button {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 85%;

  @media (min-width: $tablet-width) {
    width: 25%;
  }
}
