.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    padding-bottom: 110px;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-left: 150px;
  }
}

.contacts__info {
  padding-top: 30px;
  display: flex;
  font-style: normal;
  color: #444444;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 45%;
  }
}

.contacts__link {
  text-decoration: none;
  color: #444444;
  padding-left: 30px;
}

.contacts__title {
  margin-top: 100px;

  @media (min-width: $desktop-width) {
    font-size: 53px;
    padding-left: 150px;
  }
}

.contacts__address {
  padding-left: 33px;
  width: 70%;

  @media (min-width: $tablet-width) {
    width: 75%;
  }

  @media (min-width: $desktop-width) {
    width: 62%;
  }
}

.contacts__button {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 85%;

  @media (min-width: $tablet-width) {
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    width: 235px;
    margin-left: 30%;
  }
}
