.created-by {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-right: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.created-by__link {
  color: black;
  font-size: 19px;
  font-weight: bold;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
  }

  &:active {
    opacity: 0.3;
  }
}

.created-by__img {
  fill: #63d1bb;
  position: absolute;
  right: 70px;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }


  @media (min-width: $tablet-width) {
    right: 7%;
  }

  @media (min-width: $desktop-width) {
    right: 4.5%;
  }
}
