.created-by {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-right: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.created-by__link {
  color: black;
  font-size: 19px;
  font-weight: bold;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
  }
}

.created-by__img {
  fill: #63d1bb;
  position: absolute;
  right: 26%;

  @media (min-width: $tablet-width) {
    right: 7%;
  }

  @media (min-width: $desktop-width) {
    right: 11.5%;
  }
}

.created-by__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
