.information-list {
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.information-list__item {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.information-list__label {
  font-size: 17px;
  font-weight: bold;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.information-list__input {
  padding-bottom: 22px;
  width: 100%;
  min-height: 36px;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: #000000;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    min-height: 62px;
    font-size: 19px;
    padding-left: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 68%;
    padding-left: 18px;
    padding-top: 7px;
  }
}

.information-list__input--name {
  @media (min-width: $desktop-width) {
    width: 628px;
  }
}
