.information-list {
  padding-left: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
  }
}

.information-list__item {
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.information-list__label {
  font-size: 17px;
  font-weight: bold;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    padding-top: 9px;
  }
}

.information-list__input {
  padding-bottom: 0;
  width: 100%;
  min-height: 43px;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: #000000;
  font-size: 17px;
  line-height: 18px;
  outline: 0;
  transition: border-color 0.5s ease-out;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    min-height: 61px;
    font-size: 19px;
    padding-left: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 66%;
    padding-left: 18px;
    padding-top: 7px;
  }
}

.information-list__input--name {
  @media (min-width: $desktop-width) {
    width: 628px;
  }
}

.information-list__input:hover,
.information-list__input:focus {
  border-color: #62d1ba;
  transition: border-color 0.5s ease;
}

.information-list__input:focus::placeholder {
  color: #444444;
  transition: color 0.5s ease;
}
