.modal {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 15;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.modal__main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 566px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }
}

.modal__header {
  width: 148px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 355px;
    font-size: 30px;
  }
}

.modal__text {
  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.modal__input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;

  @media (min-width: $tablet-width) {
    width: 62%;
  }
}

.modal__label {
  width: 78px;
  height: 48px;
  margin-top: 10px;
  padding-top: 14px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: #444444;
  text-align: center;
  cursor: pointer;
  border: 2px solid #ececec;

  @media (min-width: $tablet-width) {
    width: 112px;
    height: 52px;
  }
}

.modal__input:checked + .modal__label {
  border-color: #63d1bb;
}

.modal__open {
  display: block;
}
