.offer__title {
  font-size: 25px;
}

.offer__product {
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.offer__week {
  color: #444444;
  line-height: 24px;
}

.offer__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}
