.offer__header {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-top: 135px;
  }
}

.offer__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
    padding-right: 420px;
  }
}

.offer__title {
  font-size: 25px;
  margin-bottom: 10px;
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin-right: auto;
    padding-left: 50px;
    font-size: 53px;
  }
}

.offer__product {
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-top: 30px;
    width: 100px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.offer__week {
  color: #444444;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    padding-left: 150px;
    width: 64%;
  }
}

.offer__price {
  display: flex;
  justify-content: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;

  @media (min-width: $desktop-width) {
    padding-right: 30px;
  }
}

.offer__table {
  margin-bottom: 28px;
}

.offer__img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 10%;
    left: 50%;
  }

  @media (min-width: $desktop-width) {
    z-index: -1;
  }
}

.offer__button {
  display: block;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 290px;
    margin-left: 150px;
  }
}
