.offer__header {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-top: 82px;
  }
}

.offer__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
    padding-right: 378px;
  }
}

.offer__title {
  font-size: 25px;
  margin-top: 14px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin-right: auto;
    padding-left: 38px;
    font-size: 53px;
  }
}

.offer__product {
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-left: 19%;
    margin-top: 54px;
    width: 100px;
    text-align: center;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 32px;
  }
}

.offer__week {
  color: #444444;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 176px;
    width: 70%;
    margin-bottom: 50px;
  }
}

.offer__price {
  display: flex;
  justify-content: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
  margin-top: 27px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 59px;
    margin-bottom: 35px;
    line-height: 24px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 30px;
    margin-top: 109px;
  }
}

.offer__table {
  margin-bottom: 28px;
}

.offer__img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 333px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: -1;
    width: 525px;
    height: 636px;
    top: -24%;
  }
}
