.order__fieldset {
  position: relative;
  border: 0;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    padding-left: 166px;
    padding-top: 50px;
    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 177px;
    padding-bottom: 0;
  }
}

.order__list {
  list-style: none;
}

.order__legend {
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    top: 64px;
  }

  @media (min-width: $desktop-width) {
    left: 60px;
  }
}

.order__legend--type {
  @media (min-width: $desktop-width) {
    top: 69px;
  }
}

.order__text-input {
  min-height: 140px;
  padding: 14px 15px;
  width: 258px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  font-size: 17px;
  line-height: 18px;
  outline: 0;
  transition: border-color 0.5s ease-out;

  @media (min-width: $tablet-width) {
    width: 500px;
    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 698px;
  }
}

.order__required {
  font-size: 14px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 17px;
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 173px;
  }
}

.order__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.order__legend--optional {
  padding-top: 17px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.order__fieldset--optional {
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }
}

.order__fieldset--color {
  @media (min-width: $tablet-width) {
    padding-top: 27px;
    background-color: #f1f1f1;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
  }
}

.order__fieldset--information {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-right: 0;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
    margin-bottom: 18px;
  }
}

.order__fieldset--contacts {
  @media (min-width: $tablet-width) {
    padding-top: 36px;
    background-color: #f1f1f1;
    padding-bottom: 51px;
  }
}

.order__text-input:hover,
.user-contacts__input:focus {
  border-color: #62d1ba;
  transition: border-color 0.5s ease;
}

.order__text-input:focus::placeholder {
  color: #444444;
  transition: color 0.5s ease;
}

.order__text-input::placeholder {
  font-size: 17px;
  font-weight: normal;
  opacity: 0.3;
  line-height: 18px;
}

.order__legend--info {
  @media (min-width: $tablet-width) {
    top: 64px;
  }
}

.order__legend--color {
  @media (min-width: $tablet-width) {
    top: 45px;
  }

  @media (min-width: $desktop-width) {
    top: 56px;
  }
}
