.page-main {
  display: block;
}

.page-main--catalog {
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-top: 28px;
  }
}

.page-main__form-text {
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    width: 83%;
  }
}
