.page-footer {
  background-color: #f1f1f1;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}

.page-footer--form {
  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 140px;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 20px;
  }
}
