.page-footer {
  background-color: #f1f1f1;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}

.page-footer--form {
  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;

    @media (min-width: $desktop-width) {
      padding-bottom: 54px;
      padding-top: 55px;
    }
  }
}

.page-footer__link .page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    fill: #46c1ae;
  }
}

.page-footer__link:focus .page-footer__logo {
  fill: #46c1ae;
}
