.promo__title {
  font-size: 27px;
  font-weight: bold;
}

.promo__list {
  padding: 0;
}

.promo__list-item {
  list-style: none;
}

.promo__list-link {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.promo__list-item {
  min-height: 103px;
  &:first-child {
    background-color: #63d1bb;
  }
  &:last-child {
    background-color: #56c3b2;
  }
}
