.promo {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px 373px;
  background-position: center -15%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.promo__title {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 150px;
}

.promo__list {
  padding: 0;
}

.promo__list-link {
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding-top: 20px;
  padding-left: 30px;
}

.promo__list-item {
  list-style: none;
  min-height: 103px;

  &:first-child {
    background-color: #63d1bb;
  }

  &:last-child {
    background-color: #56c3b2;
  }
}
