.reviews {
  @media (min-width: $tablet-width) {
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 52px;
    padding-bottom: 1px;

    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 88px;
    padding-bottom: 35px;
    background-position-x: 49px;
  }
}

.reviews__user {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    line-height: 30px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 176px;
    margin-top: 41px;
    font-size: 17px;
    line-height: 24px;
  }
}

.reviews__user-instagram {
  margin-top: 0;
  font-size: 17px;

  @media (min-width: $desktop-width) {
    padding-left: 174px;
    margin-top: 2px;
  }
}

.reviews__text {
  width: 100%;
  margin: 0;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 176px;
    width: 92%;
  }
}

.reviews__title {
  margin-bottom: 20px;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 172px;
    font-size: 53px;
    margin-top: 0;
  }
}

.reviews__carousel {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }
}

.reviews__arrow--back {
  padding: 0;
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  background-color: transparent;
  cursor: pointer;
  outline: 0;

  @media (min-width: $tablet-width) {
    width: 50%;
    position: absolute;
    top: 75%;
    right: -1.5%;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    top: 66.5%;
    right: -9%;
  }
}

.reviews__arrow--next {
  padding: 0;
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  background-color: transparent;
  cursor: pointer;
  outline: 0;

  @media (min-width: $tablet-width) {
    width: 30%;
    position: absolute;
    top: 75%;
    right: -2.5%;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    top: 66.5%;
    right: -7%;
  }
}
