.site-list {
  list-style: none;
  padding: 0;
  padding-top: 17px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

.site-link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
  padding: 26px 30px 24px 45px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding: 15px 15px 20px 15px;
  }

  &:hover[href] {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-list__item {
  box-shadow: inset 0 -1px 0 0 #e5e5e5;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.site-list--user-nav {
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 100%;
    justify-content: flex-end;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    height: auto;
    justify-content: flex-end;
    width: auto;
    flex-grow: 1;
  }
}

.site-list--nav {
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.site-list--offer {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 50%;
    padding-top: 5px;
  }
}

.site-link--nav {
  padding-left: 45px;
  padding-top: 25px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    font-size: 17px;
    padding-top: 9px;
  }
}

.site-link--main {
  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 24px;
    padding-top: 3px;
  }
}

.site-link--main,
.site-link--offer {
  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.site-link__form {
  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 56px;
  }
}

.site-link__sale {
  padding-left: 47px;
}

.site-link--form {
  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }
}
