.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  box-shadow: inset 0 -1px 0 0 #dbdbdb;
  width: 55%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 21%;
    padding: 0;
    margin: 0;
    margin-left: 89px;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    width: 14%;
  }
}

.socials__link {
  align-items: center;
  width: 40px;
  height: 40px;
  content: "";
  display: block;
  background-repeat: no-repeat;
}

.socials__link--instagram {
  width: 22px;
  height: 21px;
}

.socials__link--facebook {
  width: 15px;
  height: 29px;
}

.socials__link--twitter {
  width: 24px;
  height: 20px;
}

.socials-svg {

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
