.video {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ececec;
  justify-content: center;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-left: 687px;
    margin-bottom: 77px;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  position: relative;
  padding-left: 25px;
  width: 130px;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 23px;
  margin-top: 27px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 100%;
    padding-left: 105px;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 73px;
    padding-top: 38px;
    margin-top: 57px;
    margin-bottom: 6px;
    width: 50px;
  }
}

.video__text {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding-left: 0;
  width: 191px;
  margin-top: 18px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 585px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 225px;
    margin-bottom: 44px;
  }
}

.video__player {
  position: relative;

  @media (min-width: $tablet-width) {
    height: 454px;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 682px;
    margin: 0;
    top: 0;
    left: 0;
  }
}

.video__description {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 57px 10px 75px;
  }
}


.video__player-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  background-color: transparent;
  outline: 0;
}

.video__img {
  @media (min-width: $tablet-width) {
    order: 2;
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 682px;
    height: 455px;
  }
}

.video__icon {
  position: absolute;
  fill: #63d1bb;
  left: -31px;
  top: 7px;

  @media (min-width: $tablet-width) {
    left: 41px;
    top: 1px;
  }

  @media (min-width: $desktop-width) {
    top: -16px;
  }
}

.video__player-icon {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  &:active {
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
}
