.week-table {
  line-height: 20px;
  width: 100%;
  border-spacing: 0;

  @media (min-width: $desktop-width) {
    width: 69%;
    padding-left: 176px;
  }
}

.week-table__cell {
  padding: 10px 0;
}

.week-table__row {
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
}

.week-table__cell-description {
  padding-left: 17px;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}
